<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- 20 MB in kilobytes -->
      <httpRuntime maxRequestLength="20480" />
    </system.web>
    <system.webServer>
      <dynamicIpSecurity enableProxyMode="true">
        <denyByRequestsPerSecond
          enabled="true"
          maxRequests="20"
          requestIntervalInMilliseconds="5000"
        />
      </dynamicIpSecurity>
      <handlers>
        <add
          name="aspNetCore"
          path="*"
          verb="*"
          modules="AspNetCoreModuleV2"
          resourceType="Unspecified"
        />
      </handlers>
      <aspNetCore
        processPath="dotnet"
        arguments=".\TestAPI.dll"
        stdoutLogEnabled="false"
        stdoutLogFile="\\?\%home%\LogFiles\stdout"
        hostingModel="inprocess"
      />
      <security>
        <requestFiltering>
          <!-- 20 MB in bytes -->
          <requestLimits maxAllowedContentLength="20971520" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
